
<section class="jiffy-hero-sec">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="jiffy-arrow-down"></div>
      <div class="jiffy-arrow-up"></div>
      <div class="row">
        <div class="jiffy-herotext-sec">
          <h1>Self drive car rental in<br>
            <span>BANGALORE</span></h1>
            <app-header></app-header>
        </div>
      </div>
      <!--- CAR -->
      <div class="jiffy-auto-sec">
        <div class="car">
          <img src="../assets/images/car_body01.png">
          <div class="whell">
            <div class="whell-1"> </div>
            <div class="whell-2"> </div>
          </div>
        </div>
        <div class="car2">
          <img src="../assets/images/car_body.png">
          <div class="whell2">
            <div class="whell-2-1"> </div>
            <div class="whell-2-2"> </div>
          </div>
        </div>
        <div class="car3">
          <img src="../assets/images/car_body03.png">
          <div class="whell3">
            <div class="whell-3-1"> </div>
            <div class="whell-3-2"> </div>
          </div>
        </div>
      </div>
      <!--- CAR Ends -->
    </div>
  </section>
  
  
  
  
  <section class="how_it_works" id="about">
    <div class="container">
        <div class="row">
            <div class="green-bar"><span></span></div>
            <div class="mx-auto text-center">
                <h2 class="section-heading">How it Works?</h2>
                <p class="text-muted mb-4 text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    <span class="break">Lorem Ipsum has been the industry's!</span>
                </p>
                <div class="how_it_works_bg col-md-12">
                    <div class="row justify-content-around">
                        <div class=" col-xs-12 how-bx-1 bx-shadow-radius">
                            <div class="img"></div>
                            <h3>Book Your Car</h3>
                            <p>Book via phone call or website</p>
                        </div>
                        <div class=" col-xs-12 how-bx-2 bx-shadow-radius">
                            <div class="img"></div>
                            <h3>Doorstep Delivery</h3>
                            <p>Pick up our self drive car or get it delivered at your location*</p>
                        </div>
                        <div class=" col-xs-12 how-bx-3 bx-shadow-radius">
                            <div class="img"></div>
                            <h3>Book At Airport</h3>
                            <p>We deliver self drive cars at airport*</p>
                        </div>
                        <div class=" col-xs-12 how-bx-4 bx-shadow-radius">
                            <div class="img"></div>
                            <h3>Return & Sign Off</h3>
                            <p>Return the self drive car to our executive & sign off</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-cta">
            <span class="scroll_icn"><img src="../../assets/images/icn_scroll_down.png"></span>
            <a href="#" class="green_btn shadow">Sign Up</a>
        </div>
    </div>
  </section>


  <section id="services" class="grey_bg shadow_bottom_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="green-bar"><span></span></div>
                <h2 class="section-heading">Self Drive Cars</h2>
                <p class="text-muted mb-55">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's!
                </p>
            </div>
            <ul id="lightSlider" class="slider-inline">
                <li>
                    <ul class="justify-content-around">
                        <li class="car-wrap">
                            <div class=" ">
                                <div class="car-details">
                                    <span class="car-type">Hyundai_Grandi10</span>
                                    <div class="car-img"><img src="../../assets/img/Hyundai_Grandi10.png" alt=""></div>
                                    <div class="car-features justify-content-around">
                                        <span class="seat"><img src="../../assets/img/icn_seat.png" alt="">5 Seater</span>
                                        <span class="mode"><img src="../../assets/img//icn_gear.png" alt="">Manual</span>
                                        <span class="fuel"><img src="../../assets/img//icn_fuel.png" alt="">Petrol</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="car-wrap">
                            <div class=" ">
                                <div class="car-details">
                                    <span class="car-type">Tata Nano</span>
                                    <div class="car-img"><img src="../../assets/img/Toyota_Etios.png" alt=""></div>
                                    <div class="car-features justify-content-around">
                                        <span class="seat"><img src="../../assets/img/icn_seat.png" alt="">5 Seater</span>
                                        <span class="mode"><img src="../../assets/img//icn_gear.png" alt="">Manual</span>
                                        <span class="fuel"><img src="../../assets/img//icn_fuel.png" alt="">Petrol</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="car-wrap">
                            <div class=" ">
                                <div class="car-details">
                                    <span class="car-type">Hyundai_Grandi10</span>
                                    <div class="car-img"><img src="../../assets/img/Hyundai_Grandi10.png" alt=""></div>
                                    <div class="car-features justify-content-around">
                                        <span class="seat"><img src="../../assets/img/icn_seat.png" alt="">5 Seater</span>
                                        <span class="mode"><img src="../../assets/img//icn_gear.png" alt="">Manual</span>
                                        <span class="fuel"><img src="../../assets/img//icn_fuel.png" alt="">Petrol</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </li>
                        <li class="car-wrap">
                            <div class=" ">
                                <div class="car-details">
                                    <span class="car-type">Tata Nano</span>
                                    <div class="car-img"><img src="../../assets/img/Toyota_Etios.png" alt=""></div>
                                    <div class="car-features justify-content-around">
                                        <span class="seat"><img src="../../assets/img/icn_seat.png" alt="">5 Seater</span>
                                        <span class="mode"><img src="../../assets/img//icn_gear.png" alt="">Manual</span>
                                        <span class="fuel"><img src="../../assets/img//icn_fuel.png" alt="">Petrol</span>
                                    </div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="section-cta">
            <span class="scroll_icn"><img src="../../assets/images/icn_scroll_down.png"></span>
            <a href="#" class="default_btn">More Cars</a>
        </div>
    </div>
</section>



<section id="promotions">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="green-bar"><span></span></div>
            <h2 class="section-heading">Deals & Promotions</h2>
            <p class="text-muted mb-55">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's!
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 pro-img"><img src="../../assets/img/banner-1.png" alt=""></div>
            <div class="col-md-4 pro-img"><img src="../../assets//img/banner-2.png" alt=""></div>
            <div class="col-md-4 pro-img"><img src="../../assets/img/banner-3.png" alt=""></div>
        </div>
        <div class="section-cta">
            <span class="scroll_icn"><img src="../../assets/images/icn_scroll_down.png"></span>
            <a href="#" class="default_btn">More Promotions</a>
        </div>
    </div>
</section>

<app-footer></app-footer>