<footer>
    <section class="footer-1 light_grey_bg border_bottom footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="">Self Drive Tariff</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="">Cancellation & Refund Policy</a></li>
                        <li><a href="">Schedule Of Charges</a></li>
                        <li><a href="">Peak Season Rates</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Social</h4>
                    <ul class="social-network social-circle">
                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoRss" title="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Services</h4>
                    <ul>
                        <li><a href="">Terms of Use</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Vehicle Acceptance Form</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="" class="footer-2 footer deep_light_grey_bg">
        <div class="container">
            <div class="row">
                <div class="footer-wrap col-md-12">
                    <h5>Our Prescence</h5>
                    <ul>
                        <li><a href="">Car Rental Bangalore</a></li>
                        <li><a href="">Car Rental Chennai</a></li>
                        <li><a href="">Car Rental Cochin</a></li>
                        <li><a href="">Car Rental Goa</a></li>
                        <li><a href="">Car Rental Hyderabad</a></li>
                        <li><a href="">Car Rental Kolkata</a></li>
                        <li><a href="">Car Rental Mysore </a></li>
                    </ul>
                </div>
                <div class="footer-wrap col-md-12">
                    <h5>Self Drive Car Rental in Cochin</h5>
                    <ul>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                        <li><a href="">Self Drive from Bangalore to Coorg</a></li>
                    </ul>
                </div>
                <div class="footer-wrap col-md-12">
                    <h5>Upcoming Days for Booking</h5>
                    <ul>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                        <li><a href="">03-10-2018</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
<section id="" class="footer-2 footer">
<div class="container">
    <div class="row">
        <div class="footer-wrap col-md-12">
            <h5>Self Drive Car Rental in Bangalore</h5>
            <p>
                Bangalore also known as Cochin is a major port city on the south-west coast of India bordering the Laccadive Sea. It is part of the district of Ernakulam in the state of Kerala and is often referred to as Ernakulam. Called the Queen of the Arabian Sea, Bangalore was an important spice trading centre on the west coast of India from the 14th century onward, and maintained a trade network with Arab merchants from the pre-Islamic era.
            </p>
        </div>
        <div class="footer-wrap col-md-12">
            <h5>About Jeffycars</h5>
            <p>
                The user of Jiffycars should be 22+ years of Age to use the car rental service.User of our self drive car should also hold credit/debit card for making payment online. No cash transactions are allowed.
            </p>
        </div>
        <div class="footer-wrap col-md-12">
            <h5>Why Jeffycars</h5>
            <p>
                <span class="sub-head">Drive Unlimited Kilometers</span> We want you to enjoy a hassle free trip and to ensure that we offer you unlimited kilometers with no hidden charges. Rent the car of your choice by hours/day/ week/ month.
            </p>
        </div>
    </div>
</div>
</section>

</footer>