<div class="col-lg-9 mx-auto" >
    <div class="date-selector-wrap">
        <div class="location border-right">
            <div class="date-txt">
                <span class="txt-grey1">City</span>
                <span class="txt-blak1"> Bangalore </span>
            </div>
            <div class="date_icn">
                <i class="bi bi-geo-alt"></i>
            </div>
        </div>
        <div class="location1 border-right">
            <div class="date-txt">
                <span class="txt-grey1">Pick-up Date & Time</span>
                <span class="txt-blak1"> Bangalore </span>
            </div>
            <div class="date_icn">
              <i class="bi bi-calendar3" data-bs-toggle="modal" data-bs-target="#pickupDate"></i>
            </div>
        </div>
        <div class="location2 border-right">
            <div class="date-txt">
                <span class="txt-grey1">Drop Date & Time</span>
                <span class="txt-blak1"> Bangalore </span>
            </div>
            <div class="date_icn">
                <i class="bi bi-calendar3" data-bs-toggle="modal" data-bs-target="#dropDate"></i>
            </div>
        </div>
        <div id="divSearch" class="calendar-btn"><a href="#">Search Cars</a></div>
    </div>
</div>




<!------pickup modal--------->
<div class="modal fade" id="pickupDate" tabindex="-1" aria-labelledby="pickupDateLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 justify-content-center">
              <button>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <!--------drop date---------->
  <div class="modal fade" id="dropDate" tabindex="-1" aria-labelledby="dropDateLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body text-center">
        </div>
      </div>
    </div>
  </div>
  