  <nav class="navbar navbar-expand-md navbar-light fixed-top" (scroll)="scrollEvent()" [ngClass]="{'navbar-inverse': isScrolled}">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../../assets/logs/jiffycars_logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">LONG TERM RENTALS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">LOGIN / SIGN UP</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>